<div class="bg-veryDarkBlue flex flex-col lg:flex-row items-center py-12 lg:py-5 gap-8 lg:justify-around">
    <div class="lg:flex">
        <h3 class="text-2xl text-white font-bold pb-4 lg:pb-0 lg:pr-20">BOOKMARK</h3>
        <div class="flex flex-col lg:flex-row items-center gap-6 text-lg lg:text-base tracking-wider text-white font-extralight">
            <h4>
                <a href="#" class="hover:text-softRed">FEATURES</a>
            </h4>

            <h4>
                <a href="#" class="hover:text-softRed">PRICING</a>
            </h4>

            <h4>
                <a href="#" class="hover:text-softRed">CONTACT</a>
            </h4>
        </div>
    </div>
    <div class="flex gap-10">
        <a href="#">
            <img src="assets/images/icon-facebook.svg" alt="Icone Facebook" class="hover:text-softRed">
        </a>
        <a href="#">
            <img src="assets/images/icon-twitter.svg" alt="Ícone Twitter" class="hover:text-softRed">
        </a>
        
        
    </div>
    
    

</div>
