<div class="bg-veryDarkBlue flex flex-col items-center py-12 gap-8 ">
    <h3 class="text-2xl text-white font-bold">BOOKMARK</h3>
    <div class="flex flex-col items-center gap-6 text-lg tracking-wider text-white font-extralight">
        <h4>FEATURES</h4>
        <h4>PRICING</h4>
        <h4>CONTACT</h4>
    </div>
    <div class="flex gap-10">
        <img src="assets/images/icon-facebook.svg" alt="Icone Facebook ">
        <img src="assets/images/icon-twitter.svg" alt="Ícone Twitter">
    </div>

</div>
