<section class="container pt-40 flex flex-col px-6 text-center gap-20">
    <div class="flex flex-col gap-4">
        <h3 class="text-veryDarkBlue font-bold text-3xl">Download the extension</h3>
        <p class="text-grayishBlue text-lg">We’ve got more browsers in the pipeline. Please do let us know if you’ve got a favourite you’d like us to prioritize.</p>

    </div>

    @for (item of arrayCards(); track $index) {
        <div class="flex flex-col justify-center items-center text-center shadow-xl">
            <img src="{{ item.img }}" alt="{{ item.alt }}" class="w-28 pb-16">
            <h4 class="text-veryDarkBlue text-xl font-bold pb-3">Add to {{ item.name }}</h4>
            <p class="pb-12 text-grayishBlue">Minimum version {{ item.version }}</p>
            <img src="assets/images/bg-dots.svg" alt="">
            <button class="text-white bg-softBlue px-6 py-2 rounded-md my-6">Add & Install Extension</button>
        </div>
    }
    
</section>

